header{
    grid-area: header;
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 10px 0px;
    width: 100%;
    color: white;
    background-color: #1e82bd;
    box-shadow: rgba(0, 0, 0, 0.204) 0px 2px 10px 2px;
    
}

.header-inner{
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    grid-template-areas: 
        ". inside .";
}

.header-container .name-title a,
.header-container .nav-bar a{
    color:white;
    text-decoration: none;
    font-size: 1.1rem;
}

.header-container{
    grid-area: inside;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger Menu */
.hamburger-menu{
    display: none;
}

.hamLine{
    height: 20%;
    background-color: white;
    border-radius: 8px;
}

/* Responsivenss */
@media screen and (max-width: 1100px) {
    header{
        padding: 10px 50px;
    }
}

@media screen and (max-width: 768px) {
    header .nav-bar {
        display: none;
    }

    .hamburger-menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 25px;
        width: 30px;
    }

    .header-container{
        justify-content: flex-start;
        gap: 20px;
    }
    
}

@media screen and (max-width: 530px) {
    .header-inner {
        grid-template-columns: 1fr minmax(0, 400px) 1fr;
    }
}

@media screen and (max-width: 426px) {
    .header-inner {
        grid-template-columns: 1fr minmax(0, 385px) 1fr;
    }
    header{
        padding: 10px 10px;
    }
}


@media screen and (max-width: 375px) {
    .header-inner {
        grid-template-columns: 1fr minmax(0, 335px) 1fr;
    }

    .name-title .logo{
        height: 50px;
        width: auto;
    }

    .name-title .name-occ h2{
        font-size: 1.3rem;
    }

    .name-title .name-occ p{
        font-size: .8rem;
    }
}

@media screen and (max-width: 320px) {
    .header-inner {
        grid-template-columns: 1fr minmax(0, 280px) 1fr;
    }
}