.sidemenu-container {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
}

.sidemenu-container.open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease-in;
}

.sidemenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background-color: #1e82bd;
    padding: 50px;
    overflow-y: scroll;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}
  
.sidemenu.open {
    transform: translateX(0);
}

.closeButt {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

.sidemenu-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.headshot{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    border: 1px solid #fa940d;
    margin: 0px;
    width: 100%;
}

.sidemenu-headshot{
    height: 200px;
    width: auto;
}

.sidemenu-components{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sidemenu-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidemenu-links .nav-bar-links{
    display: flex;
    flex-direction: column;
    color: white;
}

.sidemenu-links .nav-bar-links a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 5px 0px;
}

.sidemenu-links .nav-bar-links a:hover{
    color: #fa940d;
}

@media screen and (max-width: 426px) {
    .sidemenu {
        width: 100%;
    }
}