*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app-container{
    display: grid;
    grid-template-columns: 1fr minmax(0, 1000px) 1fr;
    grid-template-areas: 
        "header header header"
        " . hero ."
        "about about about"
        ". portfolio ."
        "portpage portpage portpage"
        ". skills ."
        ". contact ."
        ". hire ."
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
}

hr{
    border: 1px solid white;
}

h1{
    font-size: 2rem;
}

.content-wrapper{
    grid-area: inside;
}

.title{
    color: #fa940d;
}

@media screen and (max-width: 426px) {
    .app-container {
        grid-template-columns: 20px minmax(0, 400px) 20px;
    }
}

@media screen and (max-width: 376px) {
    .app-container {
        grid-template-columns: 20px minmax(0, 320px) 20px;
    }
}